$size1: 11em;
$size2: 3.5em;
$size3: 3em;
$size4: 2em;
$size5: 1.5em;
$size6: 1em;

ion-content {
    --background: linear-gradient(150deg, rgba(48,107,190,1) 15%, rgba(1,60,96,1) 85%);
    --ion-text-color: #CFE5FD;
}

.input{
    display: block;
    margin: 0.5em;
    font-size: $size5;
    
}

.toggle{
    display: block;
    margin: 0.5em;
    font-size: $size5;
}