<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">
      <span class="city">{{ resp.name }}</span>
      <span class="date">{{ resp.dt }}</span>
      <div class="icon" *ngIf="resp.weather">
        <img src="http://openweathermap.org/img/wn/{{ resp.weather[0].icon }}@2x.png" alt="API Image">
      </div>
      <span class="description" *ngIf="resp.weather">{{ resp.weather[0].main }}</span>
      <span class="temperature" *ngIf="resp.main">{{ resp.main.temp | number: '1.0-0' }}</span>
  </div>
</ion-content>
